*{
    background-color: rgb(234, 189, 204);
}

h1{
    text-align: center;
    background-color: rgb(199, 160, 173);
}

.page-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:80vh;
    gap:2rem;
    
}

.work{
    flex:1;
    max-width: 400px;
    padding:20px;
    background-color: gainsboro;
    align-self: center;
}

.white{
    background-color: gainsboro;
}

.input-row{
    width:349px;
}